@import url(https://fonts.googleapis.com/css2?family=Fredoka&family=Lilita+One);

/* GENERAL */

:root {
    --white: #ffffff;
    --indigo: #282261;
    --open-white: #f8f8f8;
    --purple-accent: #692ED9;
    --orange-accent: #F2A011;
}

body {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-areas:
    "header header header header header"
    "nav nav nav nav nav"
    "content content content content content"
    "footer footer footer footer footer";
}

#content {
    grid-area: content;
}

#content-wrapper {
    display: grid;
    grid-template-areas:
    "main main main aside aside";
}

.max-width-container {
    max-width: 1400px;
    margin: 0 auto;
}

header, nav { padding: 0 2rem; }

.container-no-aside {
    padding: 4.5rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.container {
    padding: 4.5rem 2rem;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
}

img {
    border-radius: 0.3rem;
}

button {
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}


/* TEXT */

h1, h2, h3, h4, nav {
    font-family: 'Lilita One', sans-serif;
    text-transform: uppercase;
    color: var(--indigo);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

p {
    color: var(--indigo);
    line-height: 1.4rem;
    margin-bottom: 1rem;
    max-width: 57rem;
}

a:hover {
    color:var(--orange-accent);
}

/********************************************************************
**********************        HEADER         ************************
*********************************************************************/

header {
    grid-area: header;
    background-color:var(--indigo);
    color: var(--white);    
}

#header-container {
    display: flex;
    flex-direction: row;
}

#logo {
    width: 6rem;
}

header form {
    background-color: var(--open-white);
    color: var(--indigo);
    border-radius: 0.3rem;
    width: 30rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

header form img {
    width: 2.5rem;
    padding: 1rem 0.5rem;
}

#query {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
}

/********************************************************************
**********************        NAV            ************************
*********************************************************************/

nav {
    grid-area: nav;
    background-color:#F2F2F2;
    font-size: 1.2rem;
}

nav ul {
    max-width: 1400px;
    margin: 0 auto;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    padding: 1rem;
    border-bottom: 5px solid #F2F2F2;
}

.active, nav li a:hover {
    border-bottom: 5px solid var(--orange-accent);
    color: var(--purple-accent);
}

/********************************************************************
**********************        MAIN           ************************
*********************************************************************/
main {
    grid-area: main;
    padding: 0 3rem;
}

#welcome p {
    text-align: justify;
}

#welcome figure {
    margin-bottom: 2rem;
}

#welcome a {
    font-weight: bold;
}

#welcome h2 {
    margin-top: 4rem;
}

#bestsellers {
    background-color: var(--indigo);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

#bestsellers h2 {
    color: var(--white);
    width: 100%;
}

/* PRODUCT CARD */

.product-card {
    background-color: var(--open-white);
    color: var(--indigo);
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem -0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 14rem;
}

.product-img {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.product-name-card {
    height: 45px;
    margin-bottom: 0.3rem;
}

/*Enkel voor best sellers cards*/
.product-brand-card {
    font-size: 1rem;
    font-weight: bold;
}

.product-descr-card {
    font-size: 0.9rem;
    flex-grow: 1; /* Zorgt ervoor dat alle descriptions even hoog worden */
}

.product-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price-card {
    margin: auto 0;
    color: var(--purple-accent);
    font-family: 'Lilita One', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-cart-add {
    background-color: var(--purple-accent);
    padding: 0.7rem;
    width: 50px;
}

.btn-cart-add:hover {
    background-color: var(--orange-accent);
}

.btn-cart-add:active {
    transform: translateY(2px);
}

.btn-cart-add img {
    width: 25px;
    height: auto;
    margin: 0 auto;
}

.card-transition {
    transition-property: transform;
}

.card-transition:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

/* SECTION ABOUT */

#about {
    display: flex;
    flex-direction: row;
}

#about img {
    width: 40%;
    flex-shrink: 0.5;
}

#about p {
    text-align: justify;
}

#about-text {
    width: 60%;
    padding: 0 2rem;
    flex-shrink: 1;
}

/********************************************************************
**********************        ASIDE          ************************
*********************************************************************/

aside {
    grid-area: aside;
    background-color: var(--open-white);
    border-radius: 0.3rem;
    padding: 1rem;
    min-width: 19rem;
}

.cart-item {
    margin-bottom: 1.5rem;
}

.cart-item-info {
    display: flex;
    align-items: center;
}

.cart-item-info p {
    padding: 0 2rem 0 1rem;
    margin: 0;
}

.cart-item-price {
    color: var(--purple-accent);
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto 0;
}

.btn-cart-delete {
    background-color: var(--indigo);
    padding: 0.5rem;
    margin-left: auto;
}

.btn-cart-delete:hover {
    background-color: var(--orange-accent);
}

.btn-cart-delete:active {
    transform: translateY(2px);
}

.btn-cart-delete img {
    width: 20px;
    height: auto;
}

aside p:last-child {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    border-top: 5px solid var(--indigo);
    font-family: 'Lilita One', sans-serif;
}

.cart-total-price {
    font-weight: bold;
    color: var(--purple-accent);
    font-size: 2rem;
    float: right;
}

/********************************************************************
**********************        FOOTER         ************************
*********************************************************************/

footer {
    grid-area: footer;
    text-align: center;
    background-color: var(--indigo);
    color: var(--white);
    padding: 2.5rem 0;
}

footer p {
    margin: 0 auto;
    color: var(--white);
}

footer a {
    font-weight: bold;
}


/********************************************************************
**********************                       ************************
**********************         SHOP          ************************
**********************                       ************************
*********************************************************************/
#shop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: stretch;
}

#shop h1 {
    width: 100%;
}

#shop-article:nth-last-child(-n+3) {
    margin-bottom: 0;
}

/********************************************************************
**********************                       ************************
**********************     PRODUCT DETAIL    ************************
**********************                       ************************
*********************************************************************/

.product-detail {
    display: flex;
    flex-flow: row;
}

.product-detail figure {
    width: 20rem;
    height: auto;
    font-size: 0.8rem;
    flex-grow: 1;
}

.product-detail-info {
    margin-left: 2rem;
    flex-grow: 0.5;
}

.product-detail-info h1 {
    margin-bottom: 0.5rem;
}

.product-detail-info h3 {
    color: var(--purple-accent);
}

.product-detail-info section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#product-detail-price {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--purple-accent);
}

#review-link a {
    font-weight: bold;
}

#wishlist {
    background-color: var(--purple-accent);
    padding: 0.7rem;
}

#wishlist:hover {
    background-color: var(--orange-accent);
}

#wishlist:active {
    transform: translateY(2px);
}

#wishlist img {
    width: 20px;
}

.product-detail-info ul {
    background-color: rgba(242, 160, 17, 0.6);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    list-style-type: "✓";
}

.product-detail-info li {
    color: var(--indigo);
    padding-left: 1rem;
    margin-left: 0.5rem;
}

.product-detail-info input {
    width: 6rem;
    padding: 0.5rem;
    margin-right: 2rem;
    background-color: var(--open-white);
    border-radius: 0.3rem;
    text-align: center;
}

.product-review {
    padding: 0 2rem 4.5rem 2rem;
}

#user-reviews article {
    background-color: var(--open-white);
    padding: 1rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

#user-reviews p:first-of-type {
    font-family: 'Lilita One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}



/********************************************************************
**********************                       ************************
**********************         CONTACT       ************************
**********************                       ************************
*********************************************************************/

.input-full-width {
    display: block;
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0 1rem 0;
    background-color: var(--open-white);
    border-radius: 0.3rem;
}

textarea {
    min-height: 150px;
}

.required {
    color: var(--purple-accent);
    font-weight: bold;
}

.form-submit {
    background-color: var(--indigo);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

.form-submit:hover {
    background-color: var(--orange-accent);
}

.form-submit:active {
    transform: translateY(2px);
}

#tailTreatsMap {
    height: 25rem;
    width: auto;
    border-radius: 0.3rem;
}

/********************************************************************
**********************                       ************************
**********************        KLANTEN        ************************
**********************                       ************************
*********************************************************************/
#klanten {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1.5rem;
    align-items: stretch;
}

#klanten h1 {
    width: 100%;
}

#klanten article {
    background-color: var(--open-white);
    color: var(--indigo);
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem -0.6rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 12rem;
}

#klanten img {
    border-radius: 100%;
    display: block;
    width: 80%;
    margin: 0 auto 1rem auto;
}

#klanten h3 {
    height: 45px;
    margin-bottom: 0.3rem;
}

#klanten p {
    font-size: 0.9rem;
    flex-grow: 1; /* Zorgt ervoor dat alle descriptions even hoog worden */
}

/********************************************************************
**********************                       ************************
**********************     MEDIA QUERIES     ************************
**********************                       ************************
*********************************************************************/


/********************************************************************
**********************        1180PX         ************************
*********************************************************************/

@media screen and (max-width: 1180px) {

    header, nav {
        padding: 0 2rem;
    }

    footer {
        padding: 1rem 2rem;
    }
    
    .container-no-aside, .container {
        padding: 4.5rem 2rem;
    }
}

/********************************************************************
**********************        940PX         ************************
*********************************************************************/

@media screen and (max-width: 940px) {

    body {
        grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
    }

    .container {
        padding: 3rem 1rem;
    }

    #content-wrapper {
        grid-template-areas:
        "aside"
        "main";
    }

    #about {
        flex-flow: column nowrap;
    }
    
    #about img {
        width: 25rem;
        margin: 0 auto 2rem auto;
    }
    
    #about-text {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    /* ASIDE */

    aside {
        margin: 0 3rem 4rem 3rem;
    }
}

/********************************************************************
**********************        768PX         ************************
*********************************************************************/

@media screen and (max-width: 768px) {

    html {
        font-size: 112.5%;
    }
    /* HEADER */

    #header-container {
        flex-direction: column;
    }

    header a {
        margin: 0 auto;
    }

    header form {
        width: 100%;
        margin: 0 auto 2rem auto;
    }

    header form img {
        width: 2rem;
        padding: 1rem 0.5rem;
    }

    /* PRODUCT.HTML */

    .product-detail {
        flex-direction: column;
    }

    .product-detail figure {
        width: 22rem;
        margin: 0 auto 2rem auto;
    }

    .product-detail-info {
        margin: 0;
    }
}

/********************************************************************
**********************        592PX         ************************
*********************************************************************/

@media screen and (max-width: 592px) {

    /* GENERAL */
    header {
        padding: 0 1rem 1rem 1rem;
    }

    main {
        padding: 0;
    }

    aside {
        margin: 0 0 4rem 0;
    }

    footer {
        padding: 1rem;
    }
    
    .container, .container-no-aside, aside {
        padding: 3rem 1rem;
    }

    /* NAV */

    nav li {
        display: block;
        text-align: center;
    }

    nav li a {
        padding: 1rem 0.5rem 0.3rem 0.5rem;
    }

    /* MAIN */

    #about {
        flex-direction: column;
    }
}